<%@page pageEncoding="UTF-8"%>
<ul class="nav nav-sidebar">
    <li class="active"><a href="#">dashBoard<span class="sr-only">(current)</span></a></li>
    <li><a href="/project/index">项目管理</a></li>
    <li><a href="#">任务管理</a></li>
    <li><a href="#">Export</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="">Nav item</a></li>
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
</ul>